body{
background-color: grey;
font: 18px/1.618 sans-serif;
font-family: 'Lato', sans-serif;
}

h1{
text-align: center;
color: beige;
}

.header{
display: flex;
align-items: center;
justify-content: space-between;
}

.header_logo{
margin-left: 1rem;
font-style: bold;
}
.profile_heading{
text-align: center;
}

.bands_title{
text-align: center;
}

.bands{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}